/* Color vars */
:root {
  --white: #fff;
  --grey: #00a9a0;
  --dark_grey: #555;
  --blue: #00a9a0;
  --pink: #00a9a0;
}

/* Mixins */

/* Global */
body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
div,
textarea,
input {
  box-sizing: border-box;
}
/* contact_container  */
.contact_container {
  max-width: 100%;
  min-width: 100%;
  margin: 0px auto 0px;
  background-color: var(--white);
}
/* Row */
.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.row.header {
  padding: 1.5em 2.5em;
  /* padding-top: 150px; */
  border-bottom: 1px solid var(--grey);
  background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}
/* ----------------------------------------------- */
.contact {
  padding: 130px 0;
  width: 100%;
}
.contact .container {
  width: 100%;
  padding: 10px 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.heading {
  text-align: center;
}
.form_row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
form {
  width: 100%;
}
.left_section {
  width: 100%;
}
form .row,
form .form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}
.right_section {
  width: 100%;
}
.w-full {
  width: 100%;
}
.w-half {
  width: 100%;
}
.contact .heading h2 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.contact .heading h2 span {
  color: #00a9a0;
}

.contact .heading p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 60px;
  padding: 0;
}

.contact .form-control {
  padding: 20px 25px;
  font-size: 13px;
  margin-bottom: 10px;
  background: #f9f9f9;
  border: 0;
  border-radius: 10px;
  width: 100%;
}

.contact button.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  background: #00a9a0;
  color: #ffffff;
  margin: 0 2.5em;
}

.contact .title h3 {
  font-size: 18px;
  font-weight: 600;
}

.contact .title p {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  line-height: 1.6;
  margin: 0 0 0px;
}

.contact .content .info {
  margin-top: 30px;
}
.contact .content .info i {
  font-size: 30px;
  padding: 0;
  margin: 0;
  color: #00a9a0;
  margin-right: 20px;
  text-align: center;
  width: 20px;
}
.contact .content .info h4 {
  font-size: 13px;
  line-height: 1.4;
}

.contact .content .info h4 span {
  font-size: 13px;
  font-weight: 300;
  color: #999999;
}

@media only screen and (max-width: 768px) {
  .contact .container {
    padding: 10px 20px;
  }
  form .row {
    margin-top: 50px;
    padding: 0px;
  }
  form .form-group {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
  }
}
